#aboutme{
    background-color: aliceblue;
    height: 100%;
    position: relative; 
    
}

.aboutMe_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
}
.profile{
   
}
#profileBox{
    background-color: white;
    padding: 25px;
    position: relative;
    border-radius: 20px;
}
#profileBox>h1{
    margin: 10px 0 20px 0;
    font-size: 80px;
    background: linear-gradient(to top, #F8CACc 30%, transparent 30%);
    position: absolute;
    top: -100px;
    font-weight: 500;
    letter-spacing: 1px;
}


.profileImg{
    border-radius: 5px;
    /* width: 250px; */
   width: 800px;
}

#profileTable{
    margin-left: 200px;
    
}
#profileTable>table>tr>td{
    /* border-bottom: solid burlywood 1px; */
}
#profileTable>table>tr>td:nth-child(1){
    font-size: 25px;
}
#profileTable>table>tr>td{
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
}
