#aboutme{
    
    height: 100vh;
    position: relative; 
    
    width:100vw;
    outline: solid #333 2px;
}
.aboutMePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.aboutMe_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile{
   
}
#profileBox{
    background-color: #bbdcfb73;
    padding: 20px;
    position: relative;
    border-radius: 20px;
}
#profileBox>h1{
    margin: 10px 0 20px 0;
    font-size: 3vw;
    background: linear-gradient(to top, #F8CACc 30%, transparent 30%);
    position: absolute;
    top: -6vh;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.profileImg{
    border-radius: 5px;
    /* width: 250px; */
    width: 35vw;
}

#profileTable{
    margin-left: 5vw;
    width: 35vw;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
#profileTable>table>tr>td{
    /* border-bottom: solid burlywood 1px; */
}

#profileTable>table>tr>td>span{
    font-size: 14px;
}
#profileTable>table>tr>td:nth-child(1){
    font-size: 20px;
    font-weight: 550;
}
#profileTable>table>tr>td{
    padding: 5px;
    font-size: 16px;
}

.scroll-downs{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
   
}
.scroll-downs > a {
    padding-top: 30px;
    padding-bottom: 20px;
}

.scroll-downs a span{
    position: absolute;
    top: 90vh;
    width: 24px;
    height: 24px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}


@keyframes sdb04 {
    0% {transform: rotate(-45deg) translate(0, 0);}
    20% {transform: rotate(-45deg) translate(-10px, 10px);}
    40% {transform: rotate(-45deg) translate(0, 0);}
}