

#Blog{
    height: 100%;
    /* background-color: lightblue; */
}
#BlogPage{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
    /* background-color: antiquewhite; */
}

#BlogHead{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-bottom: 4vh;
    /* outline: 1px solid lightgray; */
}

.BlogTitle{
    font-size: 1.5vw;
    font-weight: bold;
}

#BlogDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    /* outline: 1px solid lightgray; */
}

.ProjectImgBox{
    margin-right: 2vw;
}

#BlogImg{
    width: 40vw;
    height: 45vh;
    border-radius: 10px;
    outline: 1px solid lightgray;
    box-shadow: 0 0 15px lightgray;
}

#BlogTable{
    
    /* outline: solid 1px black; */
    
    /* background-color: aliceblue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2vw;
}

#BlogTable>table>tr>td:nth-child(1){
    padding-right: 2vw;
    font-weight: 600;
}

#BlogTable>table>tr>td{
    /* outline: 1px solid lightgray; */
}

.blogGitBtn{
    width: 8vw;
    border: none;
    color: #333;
    border-radius: 20px;
    background-color: white;
    outline: 2.5px solid #a6beeb;
    font-size: 1.2vw;
    padding: 3px;
    margin-top: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    margin-right: 10px;
}

.blogGitBtn:hover{
    color: white;
    background-color: #a6beeb;
}

@media (max-width:820px){
    #BlogDetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        /* outline: 1px solid lightgray; */
    }
    #BlogHead{
        margin-top: 4vh;
    }
    #BlogImg{
        width: 70vw;
        height: 25vh;
        border-radius: 10px;
        outline: 1px solid lightgray;
        box-shadow: 0 0 15px lightgray;
    }
    #BlogTable{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        margin-top: 30px;
      
    }
    .blogGitBtn{
        width: 100px;
        border: none;
        color: #333;
        border-radius: 20px;
        background-color: white;
        outline: 2.5px solid #a6beeb;
        font-size: 15px;
        padding: 3px;
        margin-top: 15px;
        box-shadow: 0 0 5px lightgray;
        cursor: pointer;
     
    }
    #gitBtnBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
    }
    
   
}