
#channel{
    height: 100vh;
    width:  100vw;
    /* outline: solid #333 2px; */
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #c3d6F2;
    background-size: 110px 200px;
    background-repeat: repeat-x;
}
.chnnelPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
}
.channel_section{
    display: flex;
    flex-direction: row;
    /* outline: 1px solid black; */
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
  
}

.channel_left{
    
    border-radius: 5px;
}


#channelLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#channelLink>a{
    text-decoration-line:none;
}

.channelBtn{
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: solid 2px lightgray;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px lightgray;
}
.channelBtn:hover{
    background-color: lightgoldenrodyellow;
}
.channelBtn>span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.channel_icon{
    width: 30px;
}

.channel_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 35vh;
}

#channelTitle{
    font-size: 1.8vw;
    /* font-weight: 600; */
}

#channelMail{
    font-size: 1.5vw;
}


.channel_right{
    margin-left: 100px;
    position: relative;
    
}

.channel_right>h1{
    font-size: 11vh;
    position: absolute;
    z-index: 10;
    font-weight: 500;
    letter-spacing: 1px;
    top:-185px;
}

.channelProfile{
    background-color: lightgoldenrodyellow;
   
    padding: 2vw;
    border-radius: 5px;
    
}
.channelImg{
    width: 45vw;
    border-radius: 5px;
}

