
#channel{
    height: 100vh;
    width:  100vw;
    outline: solid #333 2px;
}
.chnnelPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    
}
.channel_section{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    height: 100vh;
}

.channel_left{
    background-color: white;
    border-radius: 5px;
}

#channelLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#channelLink>a{
    text-decoration-line:none;
}

.channelBtn{
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: solid 2px lightgray;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px lightgray;
}
.channelBtn:hover{
   
    background-color: lightgray;
   
}
.channelBtn>span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.channel_icon{
    width: 30px;
}
.channel_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.channel_right{
    margin-left: 100px;
    position: relative;
}

.channel_right>h1{
    font-size: 100px;
    position: absolute;
    z-index: 10;
    font-weight: 500;
    letter-spacing: 1px;
    top:-180px;
}

.channelProfile{
    background-color: lightgoldenrodyellow;
   
    padding: 3vw;
    border-radius: 5px;
    
}
.channelImg{
    width: 45vw;
    border-radius: 5px;
}

.Channel-scroll-downs{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.Channel-scroll-downs > a {
    padding-top: 30px;
    padding-bottom: 20px;
}

.Channel-scroll-downs a span{
    position: absolute;
    top: 90vh;
    width: 24px;
    height: 24px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}


@keyframes sdb04 {
    0% {transform: rotate(-45deg) translate(0, 0);}
    20% {transform: rotate(-45deg) translate(-10px, 10px);}
    40% {transform: rotate(-45deg) translate(0, 0);}
}