.contact_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact_section>h1{
    text-align: right;
    width: 1250px;
    font-size: 50px;
}
#linkContact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#linkContact>a{
    text-decoration-line:none;
}

.contactBtn{
   
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: white;
    border: solid 2px #93A9D1;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
}
.contactBtn:hover{
    background-color: #93A9D1;
    color: white;
}
.contactBtn>span{
    margin-left: 20px;
    font-size: 20px;
}

.contact_icon{
    width: 30px;
}