body{
    overflow-x: hidden;
    overflow-y: auto;
}

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #FFD6DA;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

#contact{
    height: 100vh;
    background-color: #bbdcfb73;
    /* outline: solid #333 2px; */
}
.contact_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.contact_section>h1{
    text-align: left;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 10vh;
    margin: 0px;
    font-family: "Protest Guerrilla", sans-serif;
    color: #82AFE0;
    background: linear-gradient(to top, #F8CACc 30%, transparent 30%);
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}
