body{
    overflow-x: hidden;
    overflow-y: auto;
}

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #F8CACc;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

#contact{
    height: 100%;
    background-color: aliceblue;
}
.contact_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact_section>h1{
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 90px;
    margin: 0px;
    
    background: linear-gradient(to top, #F8CACc 30%, transparent 30%);
}
