


#FooterPage{
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

@media (max-width:820px){
    #FooterPage{
        font-size: 11px;
    }
    #FooterPage>div:nth-child(2){
        margin-top: 10px;
    }
}

