
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&display=swap');

.Header{
  
  position: fixed;
  width: 100%;
  top: 0; 
  height: 100px;
  z-index: 100;
}

.HeadSection>h2{
    font-family: "Protest Riot", sans-serif;
    font-size: 40px;
}

.HeadSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(255,255,255,0.5);
    

}
