
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&display=swap');



.headTitle{
    /* font-family: "Protest Riot", sans-serif; */
   font-size: 1.8vw;
   font-weight: 600;
}

.HeadSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgba(255,255,255,0.5);
   
}
