#Instagram{
    height: 100%;
    
}
#InstagramPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* background-color: antiquewhite; */
}

#InstagramHead{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-bottom: 4vh;
    /* outline: 1px solid lightgray; */
}


#InstagramDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    
    /* outline: 1px solid lightgray; */
}

.ProjectImgBox{
    margin-right: 2vw;
}
.projectLogo{
    height:6vh;
}
#InstagramImg{
    width: 40vw;
    height: 45vh;
    border-radius: 10px;
    outline: 1px solid lightgray;
    box-shadow: 0 0 15px lightgray;
}

#InstagramTable{
    
    /* outline: solid 1px black; */
    
    /* background-color: aliceblue; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.2vw;
}

#InstagramTable>table>tr>td:nth-child(1){
    padding-right: 2vw;
    font-weight: 600;
}

#InstagramTable>table>tr>td{
    /* outline: 1px solid lightgray; */
}

.smallspan{
    font-size: 1vw;
}

.instaGitBtn{
    width: 8vw;
    border: none;
    color: #333;
    border-radius: 20px;
    background-color: white;
    outline: 2.5px solid #a6beeb;
    font-size: 1.2vw;
    padding: 3px;
    margin-top: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    margin-right: 20px;
}

.instaGitBtn:hover{
    color: white;
    background-color: #a6beeb;
}


@media (max-width:820px){
    

    .projectLogo{
        display: none;
    }

    #InstagramDetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        /* outline: 1px solid lightgray; */
    }
    #InstagramHead{
        margin-top: 4vh;
        font-size: 30px;
    }
    #InstagramImg{
        width: 70vw;
        height: 25vh;
        border-radius: 10px;
        outline: 1px solid lightgray;
        box-shadow: 0 0 15px lightgray;
    }
    #InstagramTable{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        margin-top: 30px;
    }
    .instaGitBtn{
        width: 100px;
        border: none;
        color: #333;
        border-radius: 20px;
        background-color: white;
        outline: 2.5px solid #a6beeb;
        font-size: 15px;
        padding: 3px;
        margin-top: 15px;
        box-shadow: 0 0 5px lightgray;
        cursor: pointer;
       
     
    }
    #gitBtnBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%; 
    }
    
 
}