@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.mainHeader{
    display: flex;
    height: 100vh;
    width: 100vw;
    /* outline: solid 1px black; */
    /* background-color: #D5E8FD; */
    position: relative;
    background-color: white;
    background-image: linear-gradient(45deg, #bbdcfb73 25%, transparent 25%, transparent 75%, #bbdcfb73 75%, #bbdcfb73),
    linear-gradient(45deg, #bbdcfb73 25%, transparent 25%, transparent 75%, #bbdcfb73 75%, #bbdcfb73);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.mainTitleBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;
    /* outline: solid 1px black; */
}
.mainImgBox{
    margin: 30px auto;
}

.mainTitle{
    list-style-type: none;
    position: relative;
    padding: 0;
}

.mainTitle>li{
    font-size: 15vh;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    animation: fadein 3s ease-in-out;
    color: #82AFE0;

}

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

#mainName{
    color: #EF9FBD;
    position: absolute;
    left: 70vw;
    top:75vh;
    font-size: 4vw;
    font-family: "Dancing Script", cursive;
    animation: fadein 3s ease-in-out;
}


.scroll-downs{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.scroll-downs > a {
    padding-top: 30px;
    padding-bottom: 20px;
}

.scroll-downs a span{
    position: absolute;
    top: 90vh;
    width: 24px;
    height: 24px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    transform: rotate(-45deg);
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}


@keyframes sdb04 {
    0% {transform: rotate(-45deg) translate(0, 0);}
    20% {transform: rotate(-45deg) translate(-10px, 10px);}
    40% {transform: rotate(-45deg) translate(0, 0);}
}


@media (max-width:820px){
   
    .mainTitle{
        list-style-type: none;
        position:static;
    }
    
    .mainTitle>li{
        font-size: 20vw;
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        animation: fadein 3s ease-in-out;
        color: #82AFE0;
    
    }
    .scroll-downs{
    display: none;
   }

   #mainName{
    color: #EF9FBD;
    position: static;
    left: 0;
    top:0;
    font-size: 6vw;
    font-family: "Dancing Script", cursive;
    animation: fadein 3s ease-in-out;
}
}