

#ProjectPage1{
    background-color: #bbdcfb;
    height: 100%;
}


#ProjectPage2{
    background-color: lightpink;
    height: 100%;
}

#ProjectPage3{
    background-color: lightseagreen;
    height: 100%;
}

#ProjectPage4{
    background-color: lightgoldenrodyellow;
    height: 100%;
}

