#project{
    /* outline:  1px solid black; */
}
#projectPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width:  100vw;
    background-color: #bbdcfb73;
    position: relative;
}


#projectTitle{
    position:absolute;
    font-size: 4vw;
    top: 3vh;
    left: 8vw;
    
}
#projectHeader>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 75vw;
    align-items: flex-end;
    border-radius: 10px;
}
.pHeaderBtn{
    font-size: 1.5vw;
    margin-left: 3vw;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
    font-weight: 500;
    color: rgb(97, 97, 97);
}

#projectHeader>ul>li{
  /* outline:  1px solid black; */

  
}
#projectHeader{
  /* outline:  1px solid black; */
  position: relative;
}
#flagBox{
  position: absolute;
  top: 25px;
  left: 77vw;
}

#flag{
  width: 110px;
  height: 56px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: pink;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid  white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}


#projectHeader>ul>li:hover{
    
    font-size: 1.5vw;
    margin-left: 3vw;
}

#projectItem{
    background-color: white;
    width:  100vw;
    height: 90vh;
}

.pHeaderBtn.active{
  color: black;
  font-weight: 500;
}

  .pHeaderBtn:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 4px;
    background-color: gray;
  }
  
  .pHeaderBtn:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity 0s,
      -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s,
      -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s,
      -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
   
  .pHeaderBtn:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.2s,
      -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s,
      -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }  