#project{
    outline: solid #333 2px;
    background-color: gray;
}
#projectPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width:  100vw;
    background-color: aliceblue;
    position: relative;
}
#projectTitle{
    position:absolute;
    font-size: 4vw;
    top: 3vh;
    left: 8vw;
    
}
#projectHeader>ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vw;
    align-items: flex-end;
    border-radius: 10px;
    
    
}
.pHeaderBtn{
    font-size: 1.5vw;
    margin-left: 3vw;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}
#projectHeader>ul>li:hover{
    
    font-size: 1.5vw;
    margin-left: 3vw;
}

#projectItem{
    background-color: white;
    width:  100vw;
    height: 90vh;
}

  .pHeaderBtn:before {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: navy;
  }
  .pHeaderBtn:before {
    opacity: 0;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: opacity 0s,
      -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0s,
      -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s,
      -webkit-transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
   
  .pHeaderBtn:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 0.2s,
      -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.2s,
      -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 0.2s, -webkit-transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }  