#project{
    height: 100%;
    background-color: aliceblue;
    
}
.pageSection{
    position: relative;
    width:  100%;
    height: 100%;
    /* border: solid 1px gray; */
}
.buttons{
    
}

.prev {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%);
    border: none;
    border-radius: 20px;
    background-color: #767676;
    color: white;
}

.next {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    border: none;
    border-radius: 20px;
}

