#SilverMotion{
    height: 100%;

}
#SilverMotionPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: antiquewhite;
}

#SilverMotionHead{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeadTitle{
    font-size: 1.5vw;
    font-weight: bold;
}

#SilverMotionDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ProjectImgBox{
    margin-left: 3vw;
}

.ProjectImg{
    width: 35vw;
    border-radius: 10px;
}

#SilverMotionTable{
    width: 33vw;
    outline: solid 1px black;
    border-radius: 10px;
    padding: 20px;
}