#skill{
    height: 100vh;
    width:  100vw;
    /* outline: solid #333 2px; */
}

.skill_Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    position: relative;
    background-color: #bbdcfb73;
    
}

.skill_Section>h1{
    font-size: 2vw; 
    margin: 20px;
}

.skillInfo1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 45vw;
    box-shadow: 0 0 20px lightgray;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}


.skillInfo2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 55vw;
    border-radius: 10px;
}

.skillBox1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillBox2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px lightgray;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: 25px;
}

.skillBox>h3{
    margin: 10px 0;
}

.skillList{
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.skillList2{
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.skillBox>h3{
    font-size: 25px;
}
.skillList>li{
    font-weight: bold;
    padding-left: 10px;

}
.skillList2>li{
    font-weight: bold;
    padding: 0 10px;
}

.skillIcon{
    width: 50px;
    height: 50px;
}

