

#SlSlconsulting{
    height: 100%;
    /* background-color: lightblue; */
}
#slslPage{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100%;
    /* background-color: antiquewhite; */
}

#slslHead{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-bottom: 4vh;
    /* outline: 1px solid lightgray; */
}

.HeadTitle{
    font-size: 1.5vw;
    font-weight: bold;
}

#slslDetail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80vw;
    outline: 1px solid lightgray;
}

.ProjectImgBox{
    margin-right: 2vw;
}

#slslImg{
    width: 40vw;
    height: 45vh;
    border-radius: 10px;
    outline: 1px solid lightgray;
    box-shadow: 0 0 15px lightgray;
}

#slslTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    font-size: 1.2vw;
    width: 30vw;
}

#slslTable>table>tr>td:nth-child(1){
    font-weight: 600;
 
}


#slslTable>table>tr>td{
    /* outline: 1px solid lightgray; */
}

.slslGitBtn{
    width: 8vw;
    border: none;
    color: #333;
    border-radius: 20px;
    background-color: white;
    outline: 2.5px solid #a6beeb;
    font-size: 1.2vw;
    padding: 3px;
    margin-top: 20px;
    box-shadow: 0 0 5px lightgray;
    cursor: pointer;
    margin-right: 10px;
 
}

.slslGitBtn:hover{
    color: white;
    background-color: #a6beeb;
}

@media (max-width:820px){
    #slslDetail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        /* outline: 1px solid lightgray; */
    }
    #slslHead{
        margin-top: 4vh;
    }

    #slslImg{
        width: 70vw;
        height: 25vh;
        border-radius: 10px;
        outline: 1px solid lightgray;
        box-shadow: 0 0 15px lightgray;
    }

    #slslTable{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 10px;
        margin-top: 30px;
        width: 70vw;
    }

    .slslGitBtn{
        width: 100px;
        border: none;
        color: #333;
        border-radius: 20px;
        background-color: white;
        outline: 2.5px solid #a6beeb;
        font-size: 15px;
        padding: 3px;
        margin-top: 15px;
        box-shadow: 0 0 5px lightgray;
        cursor: pointer;
        margin-right: 0;
    }

    #gitBtnBox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width:100%;
    }
    
   
}